body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #000000;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #434343, #000000);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #434343, #000000); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
#acomplete{
  
  background: #fff;
    box-shadow: 4px 4px 2px rgb(19, 19, 19);
  
}
#acomplete:hover{
  background: rgb(229, 229, 229)
}
#delbutton{
  padding: 10px 10px 10px;
  float: right;
  padding: 3px; 
  background: rgb(229, 144, 144);
  margin: 1px;
}
#delbutton:hover{
  background: rgb(251, 122, 122);
}